<div
  *ngIf="!showCardEjectionComponent; else cardEjectionComponent"
  class="row"
  [@incomingAnimation]
>
  <h1>Withdrawal money</h1>
  <h2>Insert how many</h2>
  <form (submit)="withdrawalMoney()">
    <label> Amount </label>
    <input
      [(ngModel)]="withdrawalRequest.amount"
      type="number"
      min="0"
      placeholder="0"
      name="cardNumber"
    />
    <button type="submit">Withdrawal</button>
  </form>
</div>
<ng-template #cardEjectionComponent>
  <app-card-ejection
    [withdrawalResponse]="withdrawalResponse"
  ></app-card-ejection>
</ng-template>
