*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

label {
  margin-bottom: 0.8rem;
}

input {
  padding: 0.8rem;
  margin-bottom: 1.6rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
}

button {
  padding: 1rem;
  background-color: $color-primary;
  color: $color-grey-light-1;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

button:hover {
  background-color: $color-primary-light;
}

.container {
  width: 30rem;
}

.card-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: $color-white;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.no-scroll {
  overflow: hidden;
}
