<div class="row">
  <div class="container" [@incomingAnimation]>
    <h1>Insert Card</h1>
    <form (submit)="verificateCard()" class="card-form">
      <label> Card number </label>
      <input
        [(ngModel)]="cardVerification.cardNumber"
        type="text"
        placeholder="1234567890123465"
        name="cardNumber"
      />
      <label> Expiration date </label>
      <input
        [(ngModel)]="cardVerification.expirationDate"
        type="text"
        placeholder="12/25"
        name="expirationDate"
      />
      <label> CVV </label>
      <input
        [(ngModel)]="cardVerification.cvv"
        type="text"
        placeholder="123"
        name="cvv"
      />
      <label> PIN </label>
      <input
        [(ngModel)]="cardVerification.pin"
        type="text"
        placeholder="9876"
        name="pin"
      />
      <button type="submit">Insert card</button>
    </form>
  </div>

  <div *ngIf="isProcessing"
       class="modal-overlay"
       [@incomingAnimation]>
    <div class="modal">
      <img src="./assets/img/small-logo.png" alt="Small Logo" class="logo">
      <p>We are currently processing your request</p>
      <div class="loader"></div>
    </div>
  </div>

  <div *ngIf="successProcessing"
       class="modal-overlay"
       [@incomingAnimation]>
    <div class="modal">
      <img src="./assets/img/small-logo.png" alt="Small Logo" class="logo">
      <p>We have processed your request and it was successful</p>
      <!--  OK ICON  -->
      OK
    </div>
  </div>

  <div *ngIf="failedProcessing"
       class="modal-overlay"
       [@incomingAnimation]>
    <div class="modal">
      <img src="./assets/img/small-logo.png" alt="Small Logo" class="logo">
      <p>Your request was unsuccessful:</p>
      <p>{{ callbackResponse.error?.message }}</p>
      <!--  BAD ICON  -->
      BAD
    </div>
  </div>
</div>
