<div *ngIf="isProcessing"
     class="modal-overlay"
     [@incomingAnimation]>
  <div class="modal">
    <img src="./assets/img/small-logo.png" alt="Small Logo" class="logo">
    <p>We are currently processing your request</p>
    <div class="loader"></div>
  </div>
</div>

<div *ngIf="successProcessing"
     class="modal-overlay"
     [@incomingAnimation]>
  <div class="modal">
    <img src="./assets/img/small-logo.png" alt="Small Logo" class="logo">
    <p>We have processed your request and it was successful</p>
    <!--  OK ICON  -->
    <img src="./assets/img/ok-icon.png" alt="Ok Icon" class="icon">
  </div>
</div>

<div *ngIf="failedProcessing"
     class="modal-overlay"
     [@incomingAnimation]>
  <div class="modal">
    <img src="./assets/img/small-logo.png" alt="Small Logo" class="logo">
    <p>Your request was unsuccessful:</p>
    <p>{{ callbackResponse.error?.message }}</p>
    <!--  BAD ICON  -->
    <img src="./assets/img/bad-icon.png" alt="Ok Icon" class="icon">
  </div>
</div>
